name: Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install deps
        run: |
          python -m venv .venv
          .\.venv\Scripts\Activate.ps1
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Build exe
        run: |
          .\.venv\Scripts\Activate.ps1
          pyinstaller build_app.spec

      - name: Make zip
        run: |
          Compress-Archive -Path .\dist\* -DestinationPath .\dist\ImgResizer-distribution.zip -Force
          ls .\dist

      - name: Create GitHub Release and upload assets
        uses: softprops/action-gh-release@v1
        with:
          files: |
            dist/ImgResizer-distribution.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
